@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">SQL Test</h1>
    <p> Use AzureConnection as an App Setting with the value of your SQL connection string. Review Console for Output.</p>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/app-service/configure-common?tabs=portal#configure-app-settings">App Settings</a>.</p>
    <p>Learn about <a href="https://docs.docker.com">building Web apps with Docker</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>









<script>
function notify() {
   console.log("pressed");

   $.ajax({
       type: 'GET',
       url: '@Url.Action("TestSQL", "HomeController")',
       dataType: 'json',
       success: function (result) {
           console.log(result);
       }
   });
}
</script>